Repository powerfulyang/powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,json,js,mjs,mts,cjs,cts}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx,js,mjs,mts,cjs,cts}": [
    "eslint --fix"
  ],
  "**/*.scss": [
    "stylelint --fix"
  ]
}

fix(deps): update react monorepo to v18.2.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency react-intersection-observer to v9.3.3
  package-lock.json
  package.json
Due: prettier --write

feat: 查看日志
  package-lock.json
  package.json
  src/pages/logs/index.tsx
  src/utils/client.ts
Due: prettier --write, eslint --fix

feat: algolia docsearch
  package-lock.json
  package.json
  src/components/NavBar/index.tsx
  src/pages/app.scss
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(deps): update dependency dayjs to v1.11.4
  jest.config.js
  package-lock.json
  package.json
  src/components/MarkdownContainer/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: markdown 样式优化
  src/components/MarkdownContainer/index.module.scss
Due: stylelint --fix

feat: post id => urlTitle
  src/hooks/useUser.ts
  src/pages/post/index.tsx
  src/pages/server-sitemap-index.xml/index.tsx
  src/type/Post.ts
Due: prettier --write, eslint --fix

fix: drop layoutId, because of https://github.com/framer/motion/issues/1535
  next.config.mjs
  package-lock.json
  package.json
  src/components/NavBar/index.module.scss
  src/components/NavBar/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: remove unused dependency `monaco-markdown`
  package-lock.json
  package.json
Due: prettier --write

chore: code clean up and use pnpm instead of npm
  .gitignore
  next.config.mjs
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: pnpm
  .npmrc
  Dockerfile
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/components/LazyImage/index.tsx
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix

chore(deps): upgrade react-query & framer-motion
  .jest/jest.setup.ts
  package.json
  pnpm-lock.yaml
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/NavBar/User/index.tsx
  src/components/Timeline/TimeLineForm/index.tsx
  src/context/GlobalContextProvider.tsx
  src/hooks/useUser.ts
  src/pages/gallery/index.tsx
  src/pages/logs/index.tsx
  src/pages/post/index.tsx
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix

feat: random avatar
  src/components/Chat/Message/index.tsx
  src/pages/airdrop/index.tsx
  src/utils/lib.ts
Due: prettier --write, eslint --fix

fix(sentry): upload files in static/chunks/, Widen the Upload Scope
  .npmrc
  next.config.mjs
Due: prettier --write, eslint --fix

fix: auto-install-peers
  .npmrc
Due: none

fix(deps): update dependency @powerfulyang/lint to v3.0.0
  package.json
  pnpm-lock.yaml
  src/components/ImagePreview/ImagePreviewModal/ImageModal.tsx
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix

feat: @powerfulyang/lint@3.1.0
  .npmrc
  jest.config.js
  package.json
Due: prettier --write, eslint --fix

chore: update lock file
  jest.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: components -> switch
  src/components/Switch/index.module.scss
  src/components/Switch/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: components -> Menu:focus should listen press arrowUp/arrowDown/l/r event
  src/components/Footer/index.tsx
  src/components/Menu/index.module.scss
  src/components/Menu/index.tsx
  src/components/NavBar/User/index.tsx
  src/components/NavBar/index.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: components -> menu, activeKey
  .husky/pre-commit
  package.json
  src/components/NavBar/User/index.tsx
  src/components/NavBar/index.tsx
Due: prettier --write, eslint --fix

feat: 菜单修改
  src/components/NavBar/User/index.tsx
  src/components/NavBar/index.tsx
  src/components/Timeline/TimeLineItem/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat: back to top
  .jest/jest.setup.ts
  package.json
  src/components/BackToTop/index.tsx
  src/lottie/CuteUnicorn.json
  src/lottie/NotFound.json
  src/lottie/RocketShip.json
  src/pages/404.tsx
  src/pages/post/index.tsx
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix

chore(deps): update powerfulyang
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: hidden material in mobile
  src/components/BackToTop/index.tsx
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix

feat: move fonts to cdn
  package.json
  pnpm-lock.yaml
  public/fonts/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2
  public/fonts/zpix.woff
  src/components/BackToTop/index.tsx
  src/components/NavBar/index.module.scss
  src/constant/Constant.ts
  src/pages/_document.tsx
  src/pages/app.scss
  src/pages/timeline/index.module.scss
  src/styles/docsearch.scss
  src/styles/font-face.scss
  src/styles/styles.scss
  src/styles/variables.module.scss
  src/typings/module.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: font-display: fallback + preload 避免页面字体闪动
  pnpm-lock.yaml
  src/components/Head/index.tsx
  src/constant/Constant.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/airdrop/index.tsx
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/index.tsx
  src/pages/timeline/index.tsx
  src/styles/font-face.scss
  src/styles/variables.module.scss
  src/typings/module.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: 图片展示问题
  pnpm-lock.yaml
  src/components/BackToTop/index.tsx
  src/components/ImagePreview/ImagePreviewModal/ImageModal.tsx
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/index.tsx
  src/styles/font-face.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: 解决 iOS 上面 replace image src 闪烁的问题
  src/components/ImagePreview/ImagePreviewModal/ImageModal.tsx
Due: prettier --write, eslint --fix

fix: 先载入图片，再动画才对
  pnpm-lock.yaml
  src/components/ImagePreview/ImagePreviewModal/ImageModal.tsx
  src/components/LazyImage/index.tsx
Due: prettier --write, eslint --fix

fix: 图片展示问题
  package.json
  pnpm-lock.yaml
  src/components/BackToTop/index.tsx
  src/components/ImagePreview/ImagePreviewModal/ImageModal.tsx
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/index.tsx
  src/styles/font-face.scss
  src/typings/typings.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: 欸，这样就对了。爷又会了！！！
  src/components/ImagePreview/ImagePreviewModal/ImageModal.tsx
  src/components/LazyImage/index.module.scss
  src/components/LazyImage/index.tsx
  src/pages/gallery/index.tsx
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: 极简风
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat: 样式改了几千遍了
  src/components/MarkdownContainer/index.module.scss
  src/components/Timeline/TimeLineForm/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: 手贱，有个 name 没有写上去
  src/components/LazyImage/index.module.scss
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/Editor/inex.tsx
  src/components/Switch/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: loading="lazy" 不能加，decoding="async" 也不能加。
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/LazyImage/index.module.scss
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: timezone problem
  src/components/Head/index.tsx
  src/components/MarkdownContainer/Editor/index.module.scss
  src/components/MarkdownContainer/TOC/index.tsx
  src/components/Timeline/TimeLineForm/index.module.scss
  src/components/Timeline/TimeLineItem/index.module.scss
  src/components/Timeline/TimeLineItem/index.tsx
  src/pages/gallery/index.module.scss
  src/pages/post/[id]/index.module.scss
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/pages/timeline/index.module.scss
  src/pages/timeline/index.tsx
  src/utils/lib.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: 样式调整
  src/components/ImagePreview/index.tsx
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/Timeline/TimeLineItem/index.module.scss
  src/pages/post/index.tsx
  src/pages/timeline/index.module.scss
  src/utils/lib.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: codepen and codesandbox
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/index.module.scss
  src/pages/_app.tsx
Due: prettier --write, eslint --fix, stylelint --fix
