Repository powerfulyang/powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix: markdown metadata
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/index.tsx
Due: prettier --write, eslint --fix

fix: 干掉了 urlTitle
  src/pages/post/[id]/index.module.scss
  src/pages/post/[id]/index.tsx
  src/pages/post/index.tsx
  src/pages/post/publish/[id].tsx
  src/pages/server-sitemap-index.xml/index.tsx
  src/type/Post.ts
  src/utils/toc.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: 干掉了 @mojs/core
  package.json
  pnpm-lock.yaml
  src/components/Timeline/TimelineForm/index.tsx
  src/components/mo.js/Material/index.ts
  src/pages/app.scss
  src/typings/module.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: return 404 when post doesn't exist
  src/pages/404.tsx
  src/pages/post/[id]/index.tsx
Due: prettier --write, eslint --fix

fix: canonical
  next.config.mjs
  src/components/Head/index.tsx
  src/pages/_app.tsx
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix

fix: CLS
  .jest/jest.setup.ts
  public/fonts/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2
  src/components/NavBar/index.module.scss
  src/constant/Constant.ts
  src/pages/_document.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: CLS
  sentry.edge.config.js
  src/styles/docsearch.scss
  src/styles/font-face.scss
  src/styles/styles.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: next.js + @monaco-editor/react
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/MarkdownContainer/LiveMarkdownEditor/editor.tsx
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/typings/module.d.ts
Due: prettier --write, eslint --fix

fix: 多了个点
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
Due: prettier --write, eslint --fix

fix: 404 title for not found page
  src/components/Head/index.tsx
Due: prettier --write, eslint --fix

fix: seo
  src/components/Footer/index.tsx
  src/components/Head/index.tsx
  src/components/Masonry/index.tsx
  src/layout/UserLayout.tsx
  src/pages/_app.tsx
  src/pages/airdrop/index.tsx
  src/pages/funny/index.tsx
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/index.tsx
  src/pages/post/publish/[id].tsx
  src/pages/timeline/all.tsx
  src/pages/timeline/index.tsx
  src/type/GlobalContext.ts
Due: prettier --write, eslint --fix

fix: jotai ssr issue, detail: https://jotai.org/docs/guides/nextjs#provider
  src/context/GlobalContextProvider.tsx
Due: prettier --write, eslint --fix

fix: React 严格模式下的问题
  src/components/Masonry/index.tsx
Due: prettier --write, eslint --fix

feat: 记录不同的版本
  package.json
  pnpm-lock.yaml
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/Masonry/index.tsx
  src/pages/post/diff/index.tsx
  src/utils/lib.ts
Due: prettier --write, eslint --fix

feat: post logs
  next.config.mjs
  src/components/MarkdownContainer/TOC/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/diff/[id].tsx
  src/type/Post.ts
  src/utils/client.ts
  src/utils/server.ts
Due: prettier --write, eslint --fix

fix: 数量应该大于1，才显示
  src/components/MarkdownContainer/TOC/index.tsx
  src/pages/post/diff/[id].tsx
Due: prettier --write, eslint --fix

fix: monaco-editor nullLanguage 报错
  src/components/MarkdownContainer/LiveMarkdownEditor/editor.tsx
  src/components/MarkdownContainer/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: markdown task list 样式问题
  src/components/MarkdownContainer/index.module.scss
Due: stylelint --fix

fix: diff viewer styles
  src/components/MarkdownContainer/LiveMarkdownEditor/editor.tsx
  src/pages/post/diff/[id].tsx
Due: prettier --write, eslint --fix

feat: chat-gpt
  src/pages/airdrop/index.tsx
Due: prettier --write, eslint --fix

fix: post logs order
  src/components/MarkdownContainer/TOC/index.tsx
  src/pages/post/diff/[id].tsx
Due: prettier --write, eslint --fix

fix: 慎用 break-all
  src/components/Chat/Message/index.module.scss
  src/components/MarkdownContainer/index.module.scss
  src/pages/post/diff/[id].tsx
  src/pages/post/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat: rss
  README.md
  package.json
  pnpm-lock.yaml
  src/pages/_document.tsx
  src/pages/rss.xml/index.tsx
Due: prettier --write, eslint --fix

feat: markdown support LaTeX
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/TOC/index.tsx
  src/components/MarkdownContainer/index.tsx
Due: prettier --write, eslint --fix

feat: thinking loading animate
  src/components/Chat/Message/index.module.scss
  src/components/Chat/Message/index.tsx
  src/pages/airdrop/index.module.scss
  src/pages/airdrop/index.tsx
  src/styles/loading.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: 100vw 不是一个好的习惯
  src/pages/app.scss
Due: stylelint --fix

feat: base image
  .github/workflows/base-image.yml
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  Dockerfile
  base.Dockerfile
  prod.Dockerfile
  qa.Dockerfile
Due: none

feat: bing ai
  src/components/Chat/Message/index.tsx
  src/components/Chat/index.tsx
  src/pages/airdrop/index.tsx
Due: prettier --write, eslint --fix

feat: bing ai
  src/pages/airdrop/index.tsx
Due: prettier --write, eslint --fix

feat: next-seo
  .gitignore
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/rss.xml/route.ts
  src/app/server-sitemap-index.xml/route.ts
  src/components/Head/index.tsx
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/index.tsx
  src/pages/post/publish/[id].tsx
  src/pages/server-sitemap-index.xml/index.tsx
  src/pages/timeline/all.tsx
  src/pages/timeline/index.tsx
  src/utils/client.ts
  src/utils/server.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix: next-pwa setting
  .github/workflows/base-image.yml
  next-sitemap.config.mjs
  next.config.mjs
  package.json
  pnpm-lock.yaml
  prod.Dockerfile
  qa.Dockerfile
  runtimeCaching.mjs
  src/app/server-sitemap-index.xml/route.ts
Due: prettier --write, eslint --fix

fix: next-pwa setting
  runtimeCaching.mjs
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/pages/_app.tsx
  src/pages/post/index.tsx
  src/pages/timeline/index.tsx
  src/utils/lib.ts
Due: prettier --write, eslint --fix

fix: next-pwa setting, ignore search
  next.config.mjs
  src/components/ImagePreview/index.tsx
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/Timeline/TimelineForm/index.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/pages/app.scss
  src/pages/gallery/index.tsx
  src/pages/post/diff/[id].tsx
  src/pages/timeline/index.tsx
  src/type/Asset.ts
  src/utils/lib.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: cursor css
  next.config.mjs
  package.json
  src/components/Chat/Message/index.module.scss
  src/components/Chat/index.module.scss
  src/components/MarkdownContainer/index.module.scss
  src/components/NavBar/User/index.module.scss
  src/components/NavBar/User/index.tsx
  src/components/Switch/index.module.scss
  src/components/Timeline/TimelineForm/index.module.scss
  src/pages/airdrop/index.module.scss
  src/pages/app.scss
  src/typings/processEnv.d.ts
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

fix: post diff title
  src/pages/post/diff/[id].tsx
Due: prettier --write, eslint --fix

fix: lint
  .commitlintrc.cjs
  .eslintrc.cjs
  .gitattributes
  .lintstagedrc
  .lintstagedrc.cjs
  .prettierrc.cjs
  .stylelintrc.cjs
Due: prettier --write, eslint --fix

fix: next@13.2.4 路由有 BUG
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 选 React.lazy 还是 next.dynamic
  src/__test__/toc.spec.ts
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/lazy.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/diff/[id].tsx
  src/utils/toc.ts
Due: prettier --write, eslint --fix

feat: remark-emoji, remark-directive
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/index.module.scss
  src/components/MarkdownContainer/index.tsx
  src/components/MarkdownContainer/plugins/remarkPlugin.ts
  src/utils/toc.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: remove package remark-emoji, 能用输入法输
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/index.tsx
  src/components/MarkdownContainer/plugins/rehypeRaw.ts
  src/components/MarkdownContainer/plugins/remarkDirectiveHandle.ts
  src/components/MarkdownContainer/plugins/remarkMetadata.tsx
  src/utils/toc.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,js,mjs,mts,cjs,cts}
  eslint --fix: any of: **/*.{ts,tsx,js,mjs,mts,cjs,cts}
  stylelint --fix: any of: **/*.scss
