Repository powerfulyang/powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

build: fix incorrect cursor style
  src/components/RouteChangeAnimation/index.module.scss
  src/pages/app.scss
Due: stylelint --fix

build: fix response headers
  .browserslistrc
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/MarkdownContainer/LiveMarkdownEditor/editor.tsx
  src/components/MarkdownContainer/LiveMarkdownEditor/index.module.scss
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/plugins/rehypeRaw.ts
  src/hooks/useFFmpeg.ts
  src/pages/tools/index.tsx
  src/typings/processEnv.d.ts
  src/utils/toc.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: prettier
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/monaco-editor/editor.tsx
  src/components/monaco-editor/index.tsx
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
  src/pages/tools/transform/index.tsx
  src/prettier/index.ts
  src/prettier/options.ts
  src/pwa-workers/index.ts
  src/utils/html2jsx.ts
  src/workers/prettier.worker.ts
Due: prettier --write, eslint --fix

build: web worker
  package.json
  pnpm-lock.yaml
  src/hooks/useWorkerLoader.ts
  src/pages/tools/index.tsx
  src/pages/tools/swagger2code/index.tsx
  src/pages/tools/transform/index.tsx
  src/prettier/index.ts
  src/prettier/options.ts
  src/prettier/prettier.spec.ts
  src/utils/html2jsx.spec.ts
  src/utils/html2jsx.ts
  src/workers/prettier.worker.ts
Due: prettier --write, eslint --fix

build: adapt backend api
  .github/workflows/ci.yml
  Dockerfile
  package.json
  pnpm-lock.yaml
  src/__generated__/api.ts
Due: prettier --write, eslint --fix

build: add `format nginx conf` feature
  package.json
  pnpm-lock.yaml
  src/pages/tools/format/index.tsx
  src/pages/tools/index.tsx
  src/prettier/index.ts
  src/prettier/prettier.spec.ts
  src/styles/content.module.scss
  src/utils/html2jsx.ts
  src/workers/prettier.worker.ts
Due: prettier --write, eslint --fix, stylelint --fix

build: online format support more language
  jest.config.cjs
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/monaco-editor/editor.tsx
  src/hooks/useWorkerLoader.ts
  src/pages/tools/format/index.tsx
  src/pages/tools/transform/index.tsx
  src/pages/tools/wifi-share/index.tsx
  src/prettier/index.ts
  src/three/Bananas.tsx
  src/typings/module.d.ts
Due: prettier --write, eslint --fix

todo: fix the minimize BUG by MonacoWebpackPlugin
  next.config.mjs
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

build: fix 代码压缩问题
  next.config.mjs
Due: prettier --write, eslint --fix

build: fix 异常代码
  Dockerfile
  next.config.mjs
  package.json
  patches/.gitkeep
  patches/chevrotain@6.5.0.patch
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

build: add asset image alt property
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/pages/tools/video-downloader/index.tsx
Due: prettier --write, eslint --fix

chore: update `remarkDirective` docs
  src/components/MarkdownContainer/plugins/remarkDirectiveHandle.ts
Due: prettier --write, eslint --fix

build: refactor URL params extractor
  package.json
  pnpm-lock.yaml
  src/components/Timeline/TimelineItem/index.module.scss
  src/components/ui/data-table.tsx
  src/components/ui/switch.tsx
  src/pages/tools/format/index.tsx
  src/pages/tools/index.tsx
  src/pages/tools/swagger2code/index.tsx
  src/pages/tools/transform/index.tsx
  src/pages/tools/url-params-extractor/index.tsx
  src/pages/tools/video-converter/index.tsx
  src/pages/tools/video-downloader/index.tsx
  src/styles/content.module.scss
  src/utils/copy.ts
Due: prettier --write, eslint --fix, stylelint --fix

build: support vue syntax highlight
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/monaco-editor/editor.tsx
  src/pages/tools/format/index.tsx
  src/typings/processEnv.d.ts
Due: prettier --write, eslint --fix

build: support vue code completion
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/monaco-editor/editor.tsx
  src/pages/tools/format/index.tsx
  src/typings/module.d.ts
Due: prettier --write, eslint --fix

build: add html2pug feature
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
  src/pages/api/trpc/[trpc].ts
  src/pages/tools/transform/index.tsx
  src/prettier/prettier.spec.ts
  src/prettier/prettifyOnClient.ts
  src/prettier/prettifyOnServer.ts
  src/server/index.ts
  src/server/trpc.ts
  src/typings/processEnv.d.ts
  src/utils/html2jsx.ts
  src/utils/trpc.ts
  src/workers/prettier.worker.ts
Due: prettier --write, eslint --fix

build: add `markdown editor contextmenu add format action` feature
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/LiveMarkdownEditor/utils.ts
  src/pages/gallery/index.tsx
  src/prettier/prettier.spec.ts
  src/pwa-workers/index.ts
Due: prettier --write, eslint --fix

build: downgrade framer-motion, due to https://github.com/framer/motion/issues/2183#issuecomment-1594238954
  package.json
  pnpm-lock.yaml
  src/pages/tools/funny/framer-motion/reorder/index.tsx
  src/pages/tools/funny/index.tsx
Due: prettier --write, eslint --fix

build: add `glob to regex` feature
  .ncurc.json
  package.json
  pnpm-lock.yaml
  src/hooks/useTransform.ts
  src/lib/glob-to-regexp.spec.ts
  src/pages/tools/transform/index.tsx
Due: prettier --write, eslint --fix

build: add `pipe converter` feature
  package.json
  pnpm-lock.yaml
  src/pages/tools/index.tsx
  src/pages/tools/pipe-converter/index.tsx
  src/pages/tools/wifi-share/index.tsx
Due: prettier --write, eslint --fix

build: add `中英文之间自动加空格` feature
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/prettier/prettifyOnClient.ts
Due: prettier --write, eslint --fix

build: add `jest ECMAScript Modules: https://jestjs.io/docs/ecmascript-modules` feature
  .jest/jest.setup.ts
  jest.config.cjs
  package.json
  patches/@huacnlee__autocorrect@2.8.5.patch
  pnpm-lock.yaml
  src/__test__/pages/post.spec.tsx
  src/components/NavBar/index.tsx
  src/services/swagger-parse/swagger-parse-v2.spec.ts
  src/services/swagger-parse/swagger-parse-v3.spec.ts
Due: prettier --write, eslint --fix

build: add `WiFi share` feature
  package.json
  pnpm-lock.yaml
  src/lib/qrcode/effects/crystalize.ts
  src/lib/qrcode/effects/index.ts
  src/lib/qrcode/effects/liquidify.ts
  src/lib/qrcode/generate.ts
  src/lib/qrcode/perspective.ts
  src/lib/qrcode/types.ts
  src/lib/qrcode/utils.ts
  src/pages/tools/wifi-share/index.tsx
Due: prettier --write, eslint --fix

build: configure sentry
  next.config.mjs
  sentry.edge.config.js
  sentry.server.config.js
Due: prettier --write, eslint --fix

build: fix 样式污染
  package.json
  pnpm-lock.yaml
  runtimeCaching.mjs
  src/pages/tools/format/index.tsx
Due: prettier --write, eslint --fix

build: bump up
  package.json
  pnpm-lock.yaml
  src/pages/tools/funny/basics/Text3D/index.tsx
  src/request/customFetch.ts
  src/three/extend.ts
  tsconfig.json
Due: prettier --write, eslint --fix

build: configure for cloudflare pages
  next.config.mjs
  package.json
  patches/monaco-textmate@3.0.1.patch
  pnpm-lock.yaml
  src/app/layout.tsx
  src/pages/_app.tsx
  src/pages/gallery/index.tsx
  src/pages/tools/format/index.tsx
  src/prettier/prettifyOnClient.ts
  src/prettier/prettifyOnServer.ts
Due: prettier --write, eslint --fix

build: drop app_post publish
  next.config.mjs
  public/thumbnail_700_.webp
  public/thumbnail_blur_.webp
  src/app/app_gallery/gallery.tsx
  src/app/app_gallery/page.tsx
  src/app/app_post/[id]/loading.tsx
  src/app/app_post/[id]/page.tsx
  src/app/app_post/diff/[id]/diff.tsx
  src/app/app_post/diff/[id]/page.tsx
  src/app/app_post/loading.tsx
  src/app/app_post/page.tsx
  src/app/app_post/publish/[id]/page.tsx
  src/app/app_post/publish/[id]/publish.tsx
  src/app/app_timeline/page.tsx
  src/app/app_timeline/timeline.tsx
  src/assets/timeline-banner.webp
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/Timeline/TimelineItem/TimelineItemContext.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/components/monaco-editor/editor.tsx
  src/hooks/useFFmpeg.ts
  src/hooks/usePostPublish.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/publish/index.tsx
  src/pages/timeline/all.tsx
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix

build: add `@vercel/analytics`
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

fix: styles
  package.json
  pnpm-lock.yaml
  src/components/Timeline/TimelineItem/index.module.scss
  src/pages/timeline/index.module.scss
  src/pages/timeline/index.tsx
  src/services/swagger-parse/convertObjectToCode.ts
  src/services/swagger-parse/convertV3SchemaToCode.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: infinite scroll post
  package.json
  src/__generated__/api.ts
  src/app/rss.xml/route.ts
  src/app/server-sitemap-index.xml/route.ts
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: 样式优化
  .github/workflows/ci.yml
  .jest/jest.setup.ts
  next.config.mjs
  package.json
  patches/monaco-textmate@3.0.1.patch
  pnpm-lock.yaml
  src/__test__/pages/post.spec.tsx
  src/components/VideoProcessor/index.tsx
  src/lib/qrcode/generate.ts
  src/pages/post/index.tsx
  src/pages/tools/pipe-converter/index.tsx
  src/pages/tools/swagger2code/index.tsx
  src/pages/tools/url-params-extractor/index.tsx
  src/pages/tools/video-downloader/index.tsx
  src/pages/tools/wifi-share/index.tsx
  src/services/swagger-parse/convertV2SchemaToCode.ts
Due: prettier --write, eslint --fix

feat: update management system address
  src/components/NavBar/User/index.tsx
  src/constant/Constant.ts
  src/hooks/useUser.ts
  src/pages/tools/index.tsx
  src/pages/tools/swagger2code/index.tsx
Due: prettier --write, eslint --fix

feat: @vercel/kv
  .gitignore
  jest.config.cjs
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/__test__/pages/post.spec.tsx
  src/app/layout.tsx
  src/components/NavBar/User/index.tsx
  src/components/NavBar/index.tsx
  src/components/Skeleton/index.module.scss
  src/components/Skeleton/index.tsx
  src/components/Timeline/TimelineItem/index.module.scss
  src/components/Timeline/TimelineItem/index.tsx
  src/components/VideoProcessor/index.tsx
  src/constant/Constant.ts
  src/context/GlobalContextProvider.tsx
  src/context/query-client.ts
  src/context/react-query.tsx
  src/pages/airdrop/index.tsx
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/diff/[id].tsx
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/pages/post/publish/index.tsx
  src/pages/timeline/index.module.scss
  src/pages/timeline/index.tsx
  src/pages/tools/video-converter/index.tsx
  src/server/index.ts
  src/utils/extractRequestHeaders.ts
  src/utils/lib.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: revert
  src/components/Skeleton/index.module.scss
  src/components/Timeline/TimelineItem/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/timeline/index.module.scss
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,js,mjs,mts,cjs,cts}
  eslint --fix: any of: **/*.{ts,tsx,js,mjs,mts,cjs,cts}
  stylelint --fix: any of: **/*.scss
