Repository powerfulyang/powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix(deps): update dependency jotai to v1.6.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/react-dom to v18.0.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @powerfulyang/lint to v1.4.6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update powerfulyang
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update powerfulyang
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency framer-motion to v6.3.2
  package-lock.json
  package.json
Due: prettier --write

refactor: new version linter
  .eslintignore
  .npmrc
  jest.config.js
  next.config.mjs
  package-lock.json
  package.json
  plugins/next-css-modules.js
  src/__test__/pages/post.spec.tsx
  src/components/Collapse/index.tsx
  src/components/Head/index.tsx
  src/components/ImagePreview/ImageViewModal/ImageViewContent.tsx
  src/components/Link/index.tsx
  src/components/MarkdownContainer/Editor/inex.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/Toc/index.tsx
  src/components/MarkdownContainer/index.tsx
  src/components/Masonry/index.tsx
  src/components/NavBar/index.tsx
  src/components/Timeline/TimeLineForm/index.tsx
  src/layout/UserLayout.tsx
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/index.tsx
  src/pages/post/publish/[id].tsx
  src/pages/timeline/index.tsx
  src/utils/copy.ts
  tailwind.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

fix(deps): update dependency @powerfulyang/components to v1.4.1
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @powerfulyang/utils to v1.4.4
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency react-query to v3.38.1
  package-lock.json
  package.json
Due: prettier --write

fix: eslint rules for esm files
  .eslintrc.js
  next.config.mjs
Due: prettier --write, eslint --fix

chore(deps): update nextjs monorepo to v12.1.6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/ramda to v0.28.12
  package-lock.json
  package.json
Due: prettier --write

fix: https://github.com/vercel/next.js/issues/36127#issuecomment-1112240572
  next.config.mjs
Due: prettier --write, eslint --fix

feat: airdrop
  src/components/Chat/Message/index.module.scss
  src/components/Chat/Message/index.tsx
  src/components/Chat/index.module.scss
  src/components/Chat/index.tsx
  src/components/NavBar/index.tsx
  src/pages/airdrop/index.module.scss
  src/pages/airdrop/index.tsx
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore(deps): update dependency @testing-library/react to v13.2.0
  package-lock.json
  package.json
Due: prettier --write

feat: airdrop mobile
  next.config.mjs
  src/components/Chat/Message/index.tsx
  src/components/Chat/index.tsx
  src/hooks/useDocumentVisible.ts
  src/pages/airdrop/index.module.scss
  src/pages/airdrop/index.tsx
  src/utils/copy.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: ensure that `inViewCallback` won't trigger a rerender in `LazyAssetImage`
  src/components/Chat/Message/index.tsx
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/NavBar/index.tsx
  src/hooks/useDocumentVisible.ts
  src/pages/airdrop/index.tsx
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix

feat: add prettier-plugin-tailwindcss plugin
  .jest/jest.setup.ts
  .prettierrc.js
  jest.config.js
  next.config.mjs
  package-lock.json
  package.json
  src/components/Chat/Message/index.module.scss
  src/components/Chat/Message/index.tsx
  src/components/Chat/index.module.scss
  src/components/Footer/index.tsx
  src/components/ImagePreview/ImageViewModal/ImageViewContent.tsx
  src/components/ImagePreview/ImageViewModal/content.module.scss
  src/components/LazyImage/index.tsx
  src/components/Link/index.module.scss
  src/components/MarkdownContainer/Editor/index.module.scss
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/Toc/index.module.scss
  src/components/MarkdownContainer/Toc/index.tsx
  src/components/MarkdownContainer/index.module.scss
  src/components/Masonry/index.tsx
  src/components/NavBar/index.module.scss
  src/components/NavBar/index.tsx
  src/components/Switch/index.module.scss
  src/components/Timeline/TimeLineForm/index.module.scss
  src/components/Timeline/TimeLineForm/index.tsx
  src/components/Timeline/TimeLineItem/index.module.scss
  src/components/Timeline/TimeLineItem/index.tsx
  src/pages/airdrop/index.module.scss
  src/pages/airdrop/index.tsx
  src/pages/app.scss
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.module.scss
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/pages/timeline/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

chore(deps): pin dependency prettier-plugin-tailwindcss to 0.1.10
  package-lock.json
  package.json
Due: prettier --write

refactor(LazyImage): implement with react-intersection-observer
  package-lock.json
  package.json
  src/components/Chat/Message/index.tsx
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/index.tsx
  src/components/Timeline/TimeLineForm/index.tsx
  src/components/Timeline/TimeLineItem/index.tsx
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix

refactor(Masonry): 拒绝参差不齐
  src/components/ImagePreview/ImagePreviewModal/ImageModal.tsx
  src/components/ImagePreview/ImagePreviewModal/ImageViewContent.tsx
  src/components/ImagePreview/ImagePreviewModal/content.module.scss
  src/components/ImagePreview/ImagePreviewModal/index.tsx
  src/components/ImagePreview/index.tsx
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/LazyImage/index.tsx
  src/components/Masonry/index.tsx
  src/components/Timeline/TimeLineItem/index.tsx
  src/pages/gallery/index.module.scss
  src/pages/gallery/index.tsx
  src/pages/post/index.tsx
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(deps): update dependency dayjs to v1.11.2
  package-lock.json
  package.json
Due: prettier --write

feat: 压缩图片 以至于不那么卡
  public/timeline-banner-blur.webp
  public/timeline-banner.webp
  src/components/Footer/index.tsx
  src/components/NavBar/index.tsx
  src/layout/UserLayout.tsx
  src/pages/timeline/index.tsx
  src/utils/client.ts
  src/utils/lib.ts
Due: prettier --write, eslint --fix

fix: 干掉 inViewCallback，不是很优雅
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/LazyImage/index.tsx
  src/components/Masonry/index.tsx
  src/pages/gallery/index.tsx
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix

fix(deps): update dependency react-query to v3.39.0
  package-lock.json
  package.json
Due: prettier --write

refactor: 修改了 QA 的目录
  .github/workflows/qa.yml
  src/components/Masonry/index.tsx
Due: prettier --write, eslint --fix

feat: 加了 GA
  Dockerfile
  next.config.mjs
  src/components/LazyImage/index.tsx
  src/components/mo.js/Material/index.ts
  src/pages/_document.tsx
  src/pages/gallery/index.tsx
  src/pages/timeline/index.tsx
  src/typings/global.d.ts
  src/typings/mojs.d.ts
  src/typings/processEnv.d.ts
Due: prettier --write, eslint --fix

fix: 大量图片会导致内存爆炸
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/LazyImage/index.tsx
  src/pages/_document.tsx
Due: prettier --write, eslint --fix

fix(deps): update dependency react-hook-form to v7.31.0
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,js,mjs,mts,cjs,cts}
  eslint --fix: any of: **/*.{ts,tsx,js,mjs,mts,cjs,cts}
  stylelint --fix: any of: **/*.scss
