Repository powerfulyang/powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,json,js,mjs,mts,cjs,cts}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx,js,mjs,mts,cjs,cts}": [
    "eslint --fix"
  ],
  "**/*.scss": [
    "stylelint --fix"
  ]
}

fix(deps): update dependency react-hook-form to v7.31.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency jotai to v1.6.6
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency peerjs to v1.4.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency react-hook-form to v7.31.1
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency react-hook-form to v7.31.0
  package-lock.json
  package.json
  src/components/LazyImage/index.tsx
  src/components/Masonry/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/airdrop/index.tsx
Due: prettier --write, eslint --fix

fix(deps): update dependency @monaco-editor/react to v4.4.5
  package-lock.json
  package.json
Due: prettier --write

feat: add Google Analytics
  Dockerfile
  next.config.mjs
  package-lock.json
  package.json
  sentry.client.config.js
  sentry.server.config.js
  src/components/Head/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/typings/processEnv.d.ts
  src/utils/client.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency peerjs to v1.4.1
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @powerfulyang/components to v1.4.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency peerjs to v1.4.2
  package-lock.json
  package.json
Due: prettier --write

feat: 实现一个虚假的虚拟滚动
  package-lock.json
  package.json
  src/components/Head/index.tsx
  src/components/LazyImage/index.tsx
  src/components/Masonry/index.tsx
  src/components/NavBar/index.tsx
  src/hooks/useUser.ts
  src/layout/UserLayout.tsx
  src/pages/_app.tsx
  src/pages/airdrop/index.tsx
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/index.tsx
  src/pages/timeline/index.module.scss
  src/pages/timeline/index.tsx
  src/service/getCurrentUser.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(deps): update dependency peerjs to v1.4.3
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency peerjs to v1.4.4
  package-lock.json
  package.json
Due: prettier --write

feat: css `contain: strict`
  src/components/LazyImage/index.tsx
  src/pages/gallery/index.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

feat: 懒加载 加载过的不再有动画
  src/components/Head/index.tsx
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/index.module.scss
  src/pages/app.scss
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat: 加上了退出登录
  src/components/Head/index.tsx
  src/components/LazyImage/index.tsx
  src/components/Link/index.tsx
  src/components/Menu/index.module.scss
  src/components/Menu/index.tsx
  src/components/NavBar/User/index.module.scss
  src/components/NavBar/User/index.tsx
  src/components/NavBar/index.module.scss
  src/components/NavBar/index.tsx
  src/hooks/useOutsideClick.ts
  src/hooks/useUser.ts
  src/pages/_app.tsx
  src/pages/post/index.tsx
  src/pages/timeline/index.tsx
  src/utils/client.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: 正确使用 startTransition
  src/components/Masonry/index.tsx
Due: prettier --write, eslint --fix

fix: resize 还需要额外的判断
  src/components/ImagePreview/ImagePreviewModal/content.module.scss
  src/components/Masonry/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: user 不为空时，fetch user 不需要加载动画
  public/fonts/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2
  src/components/LazyImage/index.tsx
  src/components/NavBar/User/index.tsx
  src/pages/app.scss
Due: prettier --write, eslint --fix, stylelint --fix

chore(deps): update dependency prettier-plugin-tailwindcss to v0.1.11
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @powerfulyang/components to v1.4.4
  package-lock.json
  package.json
Due: prettier --write

fix: 一些优化
  package-lock.json
  package.json
  public/fonts/zpix.woff
  src/components/ImagePreview/ImagePreviewModal/ImageModal.tsx
  src/components/ImagePreview/ImagePreviewModal/ImageViewContent.tsx
  src/components/ImagePreview/ImagePreviewModal/index.tsx
  src/components/ImagePreview/index.tsx
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/Toc/index.tsx
  src/components/Timeline/TimeLineForm/index.tsx
  src/components/Timeline/TimeLineItem/index.tsx
  src/context/ImagePreviewContext.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/app.scss
  src/pages/gallery/index.tsx
  src/pages/post/index.tsx
  src/utils/copy.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: 认识到什么时候该用 useLayoutEffect
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: 修复了目录生成错误的 BUG
  jest.config.js
  package-lock.json
  package.json
  src/__test__/toc.spec.ts
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/Toc/index.tsx
  src/components/MarkdownContainer/index.module.scss
  src/components/MarkdownContainer/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/index.tsx
  src/utils/toc.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: 该死的强迫症
  src/components/LazyImage/index.tsx
  src/components/Masonry/index.tsx
  src/pages/gallery/index.tsx
Due: prettier --write, eslint --fix

fix: 正确使用 react-markdown
  jest.config.js
  package-lock.json
  package.json
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/Toc/index.tsx
  src/components/MarkdownContainer/index.module.scss
  src/components/MarkdownContainer/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(deps): update dependency jotai to v1.6.7
  package-lock.json
  package.json
Due: prettier --write

fix: 不要渲染额外的东西，以及一些 react-markdown 相关的修改
  package-lock.json
  package.json
  src/components/MarkdownContainer/Editor/inex.tsx
  src/components/MarkdownContainer/index.module.scss
  src/components/MarkdownContainer/index.tsx
  src/components/PostPreview/index.tsx
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/pages/post/publish/[id].tsx
  src/utils/toc.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: best practice React.Suspense
  .jest/jest.setup.ts
  next.config.mjs
  src/__test__/pages/post.spec.tsx
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/Editor/inex.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/index.tsx
  src/components/MarkdownContainer/lazy.tsx
  src/components/PostPreview/index.tsx
  src/components/Skeleton/index.module.scss
  src/components/Skeleton/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/pages/timeline/index.tsx
  src/prism/atom-dark.mjs
Due: prettier --write, eslint --fix, stylelint --fix

chore(deps): update dependency @types/ramda to v0.28.13
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency react-hook-form to v7.31.2
  package-lock.json
  package.json
Due: prettier --write

feat: next/image
  public/timeline-banner-blur.webp
  src/assets/timeline-banner.webp
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/index.module.scss
  src/components/MarkdownContainer/index.tsx
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/pages/timeline/index.tsx
  src/typings/module.d.ts
  src/typings/mojs.d.ts
  src/utils/lib.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore(deps): update dependency @powerfulyang/lint to v2.0.1
  package-lock.json
  package.json
Due: prettier --write
