Repository powerfulyang/powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,json,js,mjs,mts,cjs,cts}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx,js,mjs,mts,cjs,cts}": [
    "eslint --fix"
  ],
  "**/*.scss": [
    "stylelint --fix"
  ]
}

chore(deps): bump version
  package.json
  pnpm-lock.yaml
  src/pages/tools/swagger2code/index.tsx
Due: prettier --write, eslint --fix

feat: code snippets
  package.json
  pnpm-lock.yaml
  src/components/Code/index.module.scss
  src/components/Code/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/index.module.scss
  src/context/GlobalContextProvider.tsx
  src/pages/tools/swagger2code/index.tsx
  src/services/swagger-parse/index.ts
  src/services/swagger-parse/swagger-parse.spec.ts
  src/snippets/table.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: code snippets
  package.json
  pnpm-lock.yaml
  src/components/Code/index.module.scss
  src/components/Code/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/index.module.scss
  src/context/GlobalContextProvider.tsx
  src/pages/tools/index.tsx
  src/pages/tools/swagger2code/index.tsx
  src/services/swagger-parse/index.ts
  src/services/swagger-parse/swagger-parse.spec.ts
  src/snippets/table.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: code snippets
  .jest/jest.setup.ts
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/pages/tools/swagger2code/index.tsx
  src/services/swagger-parse/convertObjectToCode.ts
  src/services/swagger-parse/convertV2SchemaToCode.ts
  src/services/swagger-parse/convertV3SchemaToCode.ts
  src/services/swagger-parse/getDocumentPaths.ts
  src/services/swagger-parse/getSchema.ts
  src/services/swagger-parse/getSchemaName.ts
  src/services/swagger-parse/index.ts
  src/services/swagger-parse/isOpenAPIV3.ts
  src/services/swagger-parse/swagger-parse-v3.spec.ts
  src/services/swagger-parse/v2.json
  src/services/swagger-parse/v3.json
Due: prettier --write, eslint --fix

feat: slim docker image
  .github/workflows/qa.yml
  base.Dockerfile
  package.json
  pnpm-lock.yaml
  qa.Dockerfile
Due: prettier --write

build: docker multi-stage builds
  .dockerignore
  .github/workflows/base-image.yml
  .github/workflows/ci.yml
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  .github/workflows/test.yml
  Dockerfile
  base.Dockerfile
  package.json
  pnpm-lock.yaml
  prod.Dockerfile
  qa.Dockerfile
Due: prettier --write

feat: video download
  Dockerfile
  package.json
  pnpm-lock.yaml
  src/__generated__/api.ts
  src/pages/tools/index.tsx
  src/pages/tools/video-downloader/index.tsx
  src/utils/copy.ts
Due: prettier --write, eslint --fix

fix: code style
  src/components/Link/index.module.scss
  src/components/Link/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/NavBar/index.tsx
  src/components/PrismCode/index.module.scss
  src/components/PrismCode/index.tsx
  src/components/Redirecting/index.tsx
  src/components/RouteChangeAnimation/changingAtom.tsx
  src/components/RouteChangeAnimation/index.module.scss
  src/components/RouteChangeAnimation/index.tsx
  src/components/RouteChangeAnimation/useRouteChangeAnimation.ts
  src/hooks/useFFmpeg.ts
  src/hooks/useFormDiscardWarning.ts
  src/hooks/useHistory.ts
  src/hooks/usePV.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/index.tsx
  src/pages/post/publish/[id].tsx
  src/pages/tools/index.tsx
  src/pages/tools/swagger2code/index.tsx
  src/pages/tools/video-downloader/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

[skip ci]: Toaster should be placed in ThemeProvider
  src/context/GlobalContextProvider.tsx
Due: prettier --write, eslint --fix

build: video downloader
  package.json
  pnpm-lock.yaml
  src/components/Timeline/TimelineItem/index.tsx
  src/pages/tools/index.tsx
  src/pages/tools/swagger2code/index.tsx
  src/pages/tools/video-converter/index.tsx
  src/pages/tools/video-downloader/index.tsx
  src/request/customFetch.ts
  src/utils/copy.ts
Due: prettier --write, eslint --fix

build: fix swagger tool
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/VideoProcessor/index.tsx
  src/pages/airdrop/index.tsx
  src/pages/gallery/index.tsx
  src/pages/timeline/index.tsx
  src/pages/tools/swagger2code/index.tsx
  src/pages/tools/video-downloader/index.tsx
  src/services/swagger-parse/convertObjectToCode.ts
  src/services/swagger-parse/convertV2SchemaToCode.ts
  src/services/swagger-parse/convertV3SchemaToCode.ts
  src/services/swagger-parse/getSchema.ts
  src/services/swagger-parse/index.ts
  src/services/swagger-parse/swagger-parse-v2.spec.ts
  src/services/swagger-parse/swagger-parse-v3.spec.ts
  src/services/swagger-parse/utils.spec.ts
  src/utils/extractRequestHeaders.ts
Due: prettier --write, eslint --fix

fix(swagger-tool): getSchema support swagger array type
  .jest/jest.setup.ts
  package.json
  pnpm-lock.yaml
  src/components/MarkdownContainer/plugins/remarkDirectiveHandle.ts
  src/pages/tools/swagger2code/index.tsx
  src/services/swagger-parse/convertV2SchemaToCode.ts
  src/services/swagger-parse/convertV3SchemaToCode.ts
  src/services/swagger-parse/getDocumentPaths.ts
  src/services/swagger-parse/getSchema.ts
  src/services/swagger-parse/getSchemaName.ts
  src/services/swagger-parse/index.ts
  src/services/swagger-parse/isSchemaObject.ts
  src/services/swagger-parse/swagger-parse-v2.spec.ts
  src/services/swagger-parse/swagger-parse-v3.spec.ts
  src/typings/custom-matchers.d.ts
Due: prettier --write, eslint --fix

fix(swagger-tool): define operationId and response $ref
  .jest/jest.setup.ts
  src/pages/_app.tsx
  src/pages/tools/swagger2code/index.tsx
  src/services/swagger-parse/convertV3SchemaToCode.ts
  src/services/swagger-parse/generateTableCode.ts
  src/services/swagger-parse/getSchema.ts
  src/services/swagger-parse/index.ts
  src/services/swagger-parse/swagger-parse-v2.spec.ts
  src/services/swagger-parse/swagger-parse-v3.spec.ts
  src/snippets/table.ts
Due: prettier --write, eslint --fix

build: define operationId and response $ref
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: support fieldPath
  package.json
  pnpm-lock.yaml
  src/pages/tools/swagger2code/index.tsx
  src/services/swagger-parse/convertV2SchemaToCode.ts
  src/services/swagger-parse/generateTableCode.ts
  src/services/swagger-parse/getSchema.ts
  src/snippets/table.ts
Due: prettier --write, eslint --fix

build: use sse for video download
  package.json
  pnpm-lock.yaml
  src/__generated__/api.ts
  src/components/MarkdownContainer/plugins/remarkDirectiveHandle.ts
  src/pages/tools/video-downloader/index.tsx
Due: prettier --write, eslint --fix

build: use sse for video download
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/__generated__/api.ts
  src/components/MarkdownContainer/plugins/remarkDirectiveHandle.ts
  src/pages/tools/video-downloader/index.tsx
Due: prettier --write, eslint --fix

feat: web push
  .gitignore
  next.config.mjs
  package.json
  pnpm-lock.yaml
  public/manifest.json
  src/hooks/useNotification.ts
  src/pages/_app.tsx
  src/pages/airdrop/index.tsx
  src/workers/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

build: web push
  .gitignore
  next.config.mjs
  package.json
  pnpm-lock.yaml
  public/manifest.json
  src/__generated__/api.ts
  src/components/Head/index.tsx
  src/hooks/useNotification.ts
  src/pages/_app.tsx
  src/pages/airdrop/index.tsx
  src/workers/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

build: web push subscribe
  package.json
  pnpm-lock.yaml
  src/hooks/useNotification.tsx
Due: prettier --write, eslint --fix

build: web push subscribe
  package.json
  pnpm-lock.yaml
  src/__generated__/api.ts
  src/hooks/useNotification.tsx
  src/pages/post/publish/[id].tsx
  src/workers/index.ts
Due: prettier --write, eslint --fix

build: swagger tool support array type
  package.json
  pnpm-lock.yaml
  src/services/swagger-parse/convertV3SchemaToCode.ts
  src/services/swagger-parse/generateTableCode.ts
Due: prettier --write, eslint --fix

build: web push
  .gitignore
  next.config.mjs
  package.json
  pnpm-lock.yaml
  public/manifest.json
  src/__generated__/api.ts
  src/components/Head/index.tsx
  src/hooks/useNotification.tsx
  src/pages/_app.tsx
  src/pages/airdrop/index.tsx
  src/pages/post/publish/[id].tsx
  src/workers/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

build: remove html lang property
  package.json
  pnpm-lock.yaml
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/plugins/remarkMetadata.tsx
  src/pages/_document.tsx
Due: prettier --write, eslint --fix

build: drop textDirective feature
  .github/workflows/ci.yml
  Dockerfile
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/MarkdownContainer/plugins/remarkDirectiveHandle.ts
Due: prettier --write, eslint --fix

build: set post diff noindex
  src/components/ImagePreview/ImagePreviewModal/ImageModal.tsx
  src/components/ImagePreview/ImagePreviewModal/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/pages/_app.tsx
  src/pages/post/diff/[id].tsx
  src/pages/timeline/index.tsx
  src/pages/tools/swagger2code/index.tsx
Due: prettier --write, eslint --fix

temp(skip ci): seo
  src/__generated__/api.ts
  src/__test__/toc.spec.ts
  src/app/server-sitemap-index.xml/route.ts
  src/components/Head/index.tsx
  src/components/MarkdownContainer/TOC/index.tsx
  src/components/MarkdownContainer/plugins/remarkMetadata.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/pages/post/diff/[id].tsx
  src/pages/post/index.tsx
  src/utils/lib.ts
Due: prettier --write, eslint --fix

build: seo
  package.json
  pnpm-lock.yaml
  src/__generated__/api.ts
  src/__test__/toc.spec.ts
  src/app/server-sitemap-index.xml/route.ts
  src/components/Head/index.tsx
  src/components/MarkdownContainer/TOC/index.tsx
  src/components/MarkdownContainer/plugins/remarkMetadata.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/pages/post/diff/[id].tsx
  src/pages/post/index.tsx
  src/utils/lib.ts
Due: prettier --write, eslint --fix

build: fix lastmod invalid date
  src/app/server-sitemap-index.xml/route.ts
Due: prettier --write, eslint --fix

build: white board
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/__generated__/api.ts
  src/pages/tools/image2ascii/index.tsx
  src/pages/tools/index.tsx
  src/pages/tools/video-converter/index.tsx
  src/pages/tools/video-downloader/index.tsx
  src/pages/tools/white-board/index.tsx
  src/pages/tools/wifi-share/index.tsx
Due: prettier --write, eslint --fix

build: white board
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/__generated__/api.ts
  src/app/server-sitemap-index.xml/route.ts
  src/pages/post/index.tsx
  src/pages/tools/image2ascii/index.tsx
  src/pages/tools/index.tsx
  src/pages/tools/video-converter/index.tsx
  src/pages/tools/video-downloader/index.tsx
  src/pages/tools/white-board/index.tsx
  src/pages/tools/wifi-share/index.tsx
Due: prettier --write, eslint --fix

build: @react-three/fiber
  .eslintrc.cjs
  .jest/jest.setup.ts
  jest.config.js
  next.config.mjs
  package.json
  pnpm-lock.yaml
  public/materials/banana-v1-transformed.glb
  src/components/Footer/index.module.scss
  src/components/MarkdownContainer/LiveMarkdownEditor/editor.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/components/three/Bananas.tsx
  src/components/three/extend.ts
  src/layout/UserLayout.tsx
  src/pages/_app.tsx
  src/pages/airdrop/index.tsx
  src/pages/app.scss
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/pages/post/publish/[id].tsx
  src/pages/timeline/index.tsx
  src/pages/tools/index.tsx
  src/pages/tools/swagger2code/index.tsx
  src/pages/tools/video-converter/index.tsx
  src/pages/tools/video-downloader/index.tsx
  src/shaders/FireflyMaterial.tsx
  src/types/GLTFResult.ts
  src/types/GlobalContext.ts
  src/types/InfiniteQuery.ts
  src/typings/three.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

build: markdown editor 终于完善了下
  package.json
  pnpm-lock.yaml
  src/components/MarkdownContainer/LiveMarkdownEditor/NoSSR.tsx
  src/components/MarkdownContainer/LiveMarkdownEditor/index.module.scss
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/LiveMarkdownEditor/utils.ts
  src/pages/_app.tsx
  src/pages/post/publish/[id].tsx
  src/pages/tools/funny/bananas.tsx
  src/pages/tools/funny/basics/Text3D/index.tsx
  src/pages/tools/funny/firefiles.tsx
  src/theme/mui.ts
  src/three/Bananas.tsx
  src/three/Fireflies.tsx
  src/three/extend.ts
  src/three/three.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

build: url params extractor
  Dockerfile
  next.config.mjs
  package.json
  patches/swagger-typescript-api@12.0.4.patch
  pnpm-lock.yaml
  src/__generated__/api.ts
  src/components/Chat/Message/index.module.scss
  src/components/Chat/index.module.scss
  src/components/ImagePreview/ImagePreviewModal/content.module.scss
  src/components/MarkdownContainer/TOC/index.module.scss
  src/components/MarkdownContainer/index.module.scss
  src/components/NavBar/User/index.module.scss
  src/components/NavBar/index.module.scss
  src/components/PrismCode/index.module.scss
  src/components/Skeleton/index.module.scss
  src/components/Switch/index.module.scss
  src/components/Timeline/TimelineItem/index.module.scss
  src/components/level1/Cactus.tsx
  src/components/level1/Camera.tsx
  src/components/level1/Icon.tsx
  src/components/level1/Level.tsx
  src/components/level1/Pyramid.tsx
  src/components/level1/Sudo.tsx
  src/pages/airdrop/index.tsx
  src/pages/app.scss
  src/pages/post/[id]/index.module.scss
  src/pages/timeline/index.module.scss
  src/pages/tools/index.tsx
  src/pages/tools/url-params-extractor/index.tsx
  src/request/requestTool.ts
  src/three/Bananas.tsx
  src/three/GLTFResult.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix mislabeled hyperlink and bump up dependencies
  package.json
  pnpm-lock.yaml
  src/pages/tools/funny/fireflies.tsx
  src/pages/tools/funny/index.tsx
Due: prettier --write, eslint --fix
