Repository powerfulyang/powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,json,js,mjs,mts,cjs,cts}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx,js,mjs,mts,cjs,cts}": [
    "eslint --fix"
  ],
  "**/*.scss": [
    "stylelint --fix"
  ]
}

chore(deps): update dependency @types/ramda to v0.28.14
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update docker/build-push-action action to v3
  .github/workflows/prod.yml
  .github/workflows/qa.yml
Due: none

chore(deps): update docker/login-action action to v2
  .github/workflows/prod.yml
  .github/workflows/qa.yml
Due: none

chore(deps): update docker/setup-buildx-action action to v2
  .github/workflows/prod.yml
  .github/workflows/qa.yml
Due: none

chore(deps): update docker/setup-qemu-action action to v2
  .github/workflows/prod.yml
  .github/workflows/qa.yml
Due: none

fix(deps): update dependency @sentry/nextjs to v7
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency dayjs to v1.11.3
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency react-hook-form to v7.31.3
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  package-lock.json
  package.json
  src/pages/gallery/index.tsx
Due: prettier --write, eslint --fix

chore(deps): update dependency @types/sharp to v0.30.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency next-pwa to v5.5.4
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency react-hook-form to v7.31.3
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  package-lock.json
  package.json
  src/components/MarkdownContainer/Toc/index.module.scss
  src/components/MarkdownContainer/Toc/index.tsx
  src/pages/gallery/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(deps): update dependency @sentry/nextjs to v7.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/sharp to v0.30.4
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @sentry/nextjs to v7.1.1
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency framer-motion to v6.3.11
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @sentry/nextjs to v7.1.0
  package-lock.json
  package.json
  src/components/Footer/index.module.scss
  src/components/Footer/index.tsx
  src/components/Head/index.tsx
  src/pages/airdrop/index.module.scss
  src/pages/app.scss
  src/pages/gallery/index.module.scss
  src/pages/post/[id]/index.module.scss
  src/pages/post/index.module.scss
  src/pages/timeline/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

chore(deps): update dependency @types/react-syntax-highlighter to v15.5.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency tailwindcss to v3.1.1
  package-lock.json
  package.json
Due: prettier --write

feat: useShortcut
  src/hooks/useShortcut.ts
  src/pages/app.scss
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore(deps): update dependency tailwindcss to v3.1.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency jotai to v1.7.2
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency react-hook-form to v7.32.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/react-syntax-highlighter to v15.5.2
  jest.config.js
  package-lock.json
  package.json
  src/__test__/toc.spec.ts
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/Toc/index.tsx
  src/components/MarkdownContainer/index.module.scss
  src/components/MarkdownContainer/index.tsx
  src/pages/app.scss
  src/pages/post/[id]/index.tsx
  src/pages/post/index.tsx
  src/type/Post.ts
  src/utils/toc.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: title 没有解析
  src/components/MarkdownContainer/Toc/index.module.scss
  src/components/MarkdownContainer/index.module.scss
  src/components/MarkdownContainer/index.tsx
  src/utils/toc.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: 本地时区和服务器时区不一致
  src/pages/airdrop/index.module.scss
  src/pages/post/index.tsx
  src/type/Post.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: 不知道 twitter card 是不是对的
  src/components/Footer/index.tsx
  src/components/Head/index.tsx
  src/components/MarkdownContainer/Toc/index.module.scss
  src/components/MarkdownContainer/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/airdrop/index.tsx
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/index.tsx
  src/pages/post/publish/[id].tsx
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: twitter:card 改成 summary_large_image
  src/components/Head/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/post/[id]/index.tsx
Due: prettier --write, eslint --fix

fix: 还是时区问题
  src/components/Timeline/TimeLineItem/index.tsx
  src/pages/timeline/index.tsx
  src/type/Feed.ts
Due: prettier --write, eslint --fix

fix(deps): update dependency react-hook-form to v7.32.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency tailwindcss to v3.1.3
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency react-intersection-observer to v9.3.0
  package-lock.json
  package.json
Due: prettier --write
