Repository powerfulyang/powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,json,js,mjs,mts,cjs,cts}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx,js,mjs,mts,cjs,cts}": [
    "eslint --fix"
  ],
  "**/*.scss": [
    "stylelint --fix"
  ]
}

fix: pre 标签内有标签使用 innerHtml 时，出现不可见换行(white-space: pre)导致高度异常
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: pre 标签内有标签使用 innerHtml 时，出现不可见换行(white-space: pre)导致高度异常
  package.json
  pnpm-lock.yaml
  src/components/Footer/index.tsx
  src/components/Head/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/index.module.scss
  src/pages/_document.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: 修改状态不能随便离开页面
  src/components/Timeline/TimeLineForm/index.tsx
  src/hooks/useFormDiscardWarning.ts
  src/hooks/useHistory.ts
  src/pages/post/[urlTitle]/index.module.scss
  src/pages/post/[urlTitle]/index.tsx
  src/pages/post/index.tsx
  src/pages/post/publish/[urlTitle].tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: timeline 支持 markdown 语法
  src/components/MarkdownContainer/Editor/inex.tsx
  src/components/Timeline/TimeLineItem/index.module.scss
  src/components/Timeline/TimeLineItem/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: edit&delete timeline
  package.json
  pnpm-lock.yaml
  src/components/ImagePreview/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/index.module.scss
  src/components/NavBar/index.module.scss
  src/components/NavBar/index.tsx
  src/components/Timeline/TimeLineForm/index.module.scss
  src/components/Timeline/TimeLineForm/index.tsx
  src/components/Timeline/TimeLineItem/index.module.scss
  src/components/Timeline/TimeLineItem/index.tsx
  src/context/GlobalContextProvider.tsx
  src/hooks/useFixMinHeight.ts
  src/hooks/useOutsideClick.ts
  src/pages/404.tsx
  src/pages/app.scss
  src/pages/gallery/index.module.scss
  src/pages/gallery/index.tsx
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/pages/post/publish/[urlTitle].tsx
  src/pages/timeline/index.module.scss
  src/pages/timeline/index.tsx
  src/service/getCurrentUser.ts
  src/styles/styles.scss
  src/type/Feed.ts
  src/utils/copy.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: upgrade next to fix swc minify bug
  package.json
  pnpm-lock.yaml
  src/components/Timeline/TimeLineForm/index.tsx
  src/utils/client.ts
Due: prettier --write, eslint --fix

fix: timeline preview images order
  src/components/Timeline/TimeLineForm/index.module.scss
  src/components/Timeline/TimeLineForm/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: use `overflow: clip` instead of `overflow: hidden` to prevent abnormal scroll
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/Timeline/TimelineForm/index.module.scss
  src/components/Timeline/TimelineForm/index.tsx
  src/components/Timeline/TimelineItem/TimelineItemContext.tsx
  src/components/Timeline/TimelineItem/index.module.scss
  src/components/Timeline/TimelineItem/index.tsx
  src/hooks/useFixMinHeight.ts
  src/pages/timeline/all.tsx
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: 兼容一下不支持 `overflow: clip` 的浏览器
  pnpm-lock.yaml
  src/hooks/useFixMinHeight.ts
Due: prettier --write, eslint --fix

chore: update README.md
  README.md
  pnpm-lock.yaml
  src/components/ImagePreview/ImagePreviewModal/ImageModal.tsx
  src/components/ImagePreview/ImagePreviewModal/index.tsx
Due: prettier --write, eslint --fix

feat: adapt to backend api
  src/components/Timeline/TimelineForm/index.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/pages/post/publish/[urlTitle].tsx
Due: prettier --write, eslint --fix

refactor(post list): stash
  next.config.mjs
  src/pages/app.scss
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor(post list): 样式问题
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/styles/styles.scss
Due: prettier --write, eslint --fix, stylelint --fix

refactor(post list): 样式问题 stash
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/components/BackToTop/index.tsx
  src/components/MarkdownContainer/index.module.scss
  src/lottie/CuteUnicorn.json
  src/lottie/NotFound.json
  src/lottie/RocketShip.json
  src/pages/404.tsx
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore(deps): update nextjs monorepo to v13.0.4
  package.json
  pnpm-lock.yaml
  src/pages/post/index.module.scss
Due: prettier --write, stylelint --fix

fix(deps): update @powerfulyang/lint to v3.1.3
  package.json
  pnpm-lock.yaml
  src/pages/post/index.module.scss
Due: prettier --write, stylelint --fix

feat: zod
  package.json
  pnpm-lock.yaml
  src/components/Timeline/TimelineForm/index.tsx
Due: prettier --write, eslint --fix

feat: adapt backend api
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/Timeline/TimelineForm/index.tsx
  src/hooks/useUser.ts
  src/pages/gallery/index.tsx
  src/pages/logs/index.tsx
  src/pages/post/[urlTitle]/index.tsx
  src/pages/post/index.tsx
  src/pages/post/publish/[urlTitle].tsx
  src/pages/server-sitemap-index.xml/index.tsx
  src/pages/timeline/all.tsx
  src/pages/timeline/index.tsx
  src/utils/client.ts
  src/utils/copy.ts
Due: prettier --write, eslint --fix

chore: deps remove @types/node
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 样式问题
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/type/Post.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: zod incorrect usage
  pnpm-lock.yaml
  src/components/Timeline/TimelineForm/index.tsx
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/utils/client.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: feed create action
  src/components/NavBar/index.tsx
  src/components/Timeline/TimelineForm/index.tsx
  src/pages/post/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat: post list layout optimization
  pnpm-lock.yaml
  src/components/LazyImage/index.tsx
  src/components/NavBar/User/index.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/pages/post/index.module.scss
  src/styles/variables.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: next.config.mjs warning
  next.config.mjs
  sentry.properties
Due: prettier --write, eslint --fix

feat: d3.js, three.js
  package.json
  pnpm-lock.yaml
  src/pages/funny/data.js
  src/pages/funny/index.tsx
  src/pages/funny/mapPoints.js
Due: prettier --write, eslint --fix

fix: gif Cloud Infinite，CI error
  plugins/next-css-modules.js
  src/data/data.js
  src/data/mapPoints.js
  src/pages/funny/index.tsx
  src/utils/lib.ts
Due: prettier --write, eslint --fix

fix: swc didn't compile optional chaining usage in node_modules
  src/utils/copy.ts
Due: prettier --write, eslint --fix

fix: swc didn't compile optional chaining usage in node_modules
  package.json
  pnpm-lock.yaml
  src/utils/copy.ts
Due: prettier --write, eslint --fix

fix: prevent XSS attacks
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: invalid regular expression
  src/components/MarkdownContainer/MarkdownElement.tsx
Due: prettier --write, eslint --fix

feat: chat-gpt
  src/components/Chat/Message/index.module.scss
  src/pages/airdrop/index.tsx
  src/utils/client.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: only generate source-map when enable sentry
  next.config.mjs
  sentry.server.config.js
Due: prettier --write, eslint --fix

fix: disable sentry server side
  sentry.server.config.js
Due: prettier --write, eslint --fix

fix: next.config.mjs options
  next.config.mjs
  src/pages/app.scss
  src/pages/post/index.module.scss
  src/pages/timeline/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: error theme-color
  public/manifest.json
  src/pages/_document.tsx
  src/pages/post/[urlTitle]/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: next.config.mjs options
  jest.config.js
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/Timeline/TimelineForm/index.tsx
  src/data/data.js
  src/data/mapPoints.js
  src/pages/funny/index.tsx
  src/prism/atom-dark.mjs
Due: prettier --write, eslint --fix

feat: drop intersection rootMargin
  src/components/LazyImage/index.tsx
  src/components/Masonry/index.tsx
  src/pages/gallery/index.tsx
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix

fix: use monaco-editor as npm package instead of loading from cdn.jsdelivr.net
  src/components/MarkdownContainer/LiveMarkdownEditor/editor.tsx
  src/components/MarkdownContainer/LiveMarkdownEditor/index.module.scss
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/index.tsx
  src/pages/post/publish/[urlTitle].tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: enable StrictMode, 这个还是很有用的
  next.config.mjs
  src/pages/airdrop/index.tsx
  src/pages/logs/index.tsx
Due: prettier --write, eslint --fix

feat: @react-three/fiber
  package.json
  pnpm-lock.yaml
  src/components/three/Fireflies.tsx
  src/pages/funny/index.tsx
  src/pages/logs/index.tsx
  src/shaders/FireflyMaterial.tsx
Due: prettier --write, eslint --fix
