Repository powerfulyang/powerfulyang.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,json,js,mjs,mts,cjs,cts}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx,js,mjs,mts,cjs,cts}": [
    "eslint --fix"
  ],
  "**/*.scss": [
    "stylelint --fix"
  ]
}

fix: encode unicode anchor
  src/components/MarkdownContainer/MarkdownElement.tsx
Due: prettier --write, eslint --fix

fix: 样式修改
  package.json
  pnpm-lock.yaml
  src/app/rss.xml/route.ts
  src/app/server-sitemap-index.xml/route.ts
  src/components/MarkdownContainer/TOC/index.module.scss
  src/components/MarkdownContainer/TOC/index.tsx
  src/components/Skeleton/index.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/pages/post/[id]/index.module.scss
  src/pages/post/[id]/index.tsx
  src/pages/post/diff/[id].tsx
  src/pages/post/index.tsx
  src/type/Asset.ts
  src/type/Bucket.ts
  src/type/Feed.ts
  src/type/Post.ts
  src/utils/toc.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: useInView set skip 使 scrollRestoration 有效
  src/components/Chat/index.tsx
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/LazyImage/index.tsx
  src/context/GlobalContextProvider.tsx
  src/hooks/useFixMinHeight.ts
  src/pages/gallery/index.module.scss
  src/pages/gallery/index.tsx
  src/pages/post/diff/[id].tsx
  src/pages/post/index.module.scss
  src/pages/post/index.tsx
  src/pages/timeline/index.module.scss
  src/pages/timeline/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: 修复海量 BUG 及依赖升级的问题
  src/components/ImagePreview/ImagePreviewModal/ImageModal.tsx
  src/components/ImagePreview/ImagePreviewModal/index.tsx
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/TOC/index.module.scss
  src/components/Masonry/index.tsx
  src/hooks/useHiddenOverflow.ts
  src/pages/app.scss
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: contentVisibility affects the normal functionality of scrollRestoration
  src/components/LazyImage/index.tsx
Due: prettier --write, eslint --fix

fix: 听我说谢谢你，别瞎几把改了
  src/components/ImagePreview/ImagePreviewModal/ImageModal.tsx
  src/components/ImagePreview/ImagePreviewModal/index.tsx
  src/components/LazyImage/index.tsx
Due: prettier --write, eslint --fix

fix: 我很早之前就应该接入 swagger 工具了
  package.json
  pnpm-lock.yaml
  src/__generated__/api.ts
  src/codegen.mjs
Due: prettier --write, eslint --fix

fix: 接入 swagger
  package.json
  src/__generated__/api.ts
  src/app/rss.xml/route.ts
  src/app/server-sitemap-index.xml/route.ts
  src/codegen.mjs
  src/components/ImagePreview/index.tsx
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/TOC/index.tsx
  src/components/Masonry/index.tsx
  src/components/Timeline/TimelineForm/index.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/hooks/useUser.ts
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/diff/[id].tsx
  src/pages/post/index.tsx
  src/pages/post/publish/[id].tsx
  src/pages/timeline/index.tsx
  src/request/requestTool.ts
  src/type/Asset.ts
  src/type/Bucket.ts
  src/type/Exif.ts
  src/type/Feed.ts
  src/type/Post.ts
  src/type/User.ts
  src/typings/module.d.ts
  src/typings/typings.d.ts
  src/utils/copy.ts
Due: prettier --write, eslint --fix

fix: 接入 swagger
  dev/swagger-typescript-codegen.config.mjs
  package.json
  pnpm-lock.yaml
  src/__generated__/api.ts
  src/app/rss.xml/route.ts
  src/app/server-sitemap-index.xml/route.ts
  src/components/ImagePreview/index.tsx
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/TOC/index.tsx
  src/components/Masonry/index.tsx
  src/components/NavBar/User/index.tsx
  src/components/Timeline/TimelineForm/index.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/hooks/useUser.ts
  src/pages/airdrop/index.tsx
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/diff/[id].tsx
  src/pages/post/index.tsx
  src/pages/post/publish/[id].tsx
  src/pages/timeline/all.tsx
  src/pages/timeline/index.tsx
  src/request/requestTool.ts
  src/type/Asset.ts
  src/type/Bucket.ts
  src/type/Exif.ts
  src/type/Feed.ts
  src/type/Post.ts
  src/type/User.ts
  src/typings/module.d.ts
  src/typings/typings.d.ts
  src/utils/client.ts
  src/utils/copy.ts
  src/utils/extractRequestHeaders.ts
  src/utils/server.ts
Due: prettier --write, eslint --fix

fix: 接入 swagger
  dev/swagger-typescript-codegen.config.mjs
  package.json
  pnpm-lock.yaml
  src/__generated__/api.ts
  src/__test__/toc.spec.ts
  src/app/rss.xml/route.ts
  src/app/server-sitemap-index.xml/route.ts
  src/components/ImagePreview/index.tsx
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/TOC/index.tsx
  src/components/Masonry/index.tsx
  src/components/NavBar/User/index.tsx
  src/components/Timeline/TimelineForm/index.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/hooks/useUser.ts
  src/pages/airdrop/index.tsx
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/diff/[id].tsx
  src/pages/post/index.tsx
  src/pages/post/publish/[id].tsx
  src/pages/timeline/all.tsx
  src/pages/timeline/index.tsx
  src/request/customFetch.ts
  src/request/requestTool.ts
  src/type/Asset.ts
  src/type/Bucket.ts
  src/type/Exif.ts
  src/type/Feed.ts
  src/type/Post.ts
  src/type/User.ts
  src/typings/module.d.ts
  src/typings/typings.d.ts
  src/utils/client.ts
  src/utils/copy.ts
  src/utils/extractRequestHeaders.ts
  src/utils/server.ts
Due: prettier --write, eslint --fix

fix: 接入 swagger
  dev/swagger-typescript-codegen.config.mjs
  package.json
  patches/swagger-typescript-api@12.0.4.patch
  pnpm-lock.yaml
  src/__generated__/api.ts
  src/__test__/toc.spec.ts
  src/app/rss.xml/route.ts
  src/app/server-sitemap-index.xml/route.ts
  src/components/ImagePreview/index.tsx
  src/components/LazyImage/LazyAssetImage/index.tsx
  src/components/MarkdownContainer/LiveMarkdownEditor/index.tsx
  src/components/MarkdownContainer/MarkdownElement.tsx
  src/components/MarkdownContainer/TOC/index.tsx
  src/components/Masonry/index.tsx
  src/components/NavBar/User/index.tsx
  src/components/Timeline/TimelineForm/index.tsx
  src/components/Timeline/TimelineItem/index.tsx
  src/hooks/useUser.ts
  src/pages/airdrop/index.tsx
  src/pages/gallery/index.tsx
  src/pages/post/[id]/index.tsx
  src/pages/post/diff/[id].tsx
  src/pages/post/index.tsx
  src/pages/post/publish/[id].tsx
  src/pages/timeline/all.tsx
  src/pages/timeline/index.tsx
  src/request/customFetch.ts
  src/request/requestTool.ts
  src/type/Asset.ts
  src/type/Bucket.ts
  src/type/Exif.ts
  src/type/Feed.ts
  src/type/Post.ts
  src/type/User.ts
  src/typings/module.d.ts
  src/typings/typings.d.ts
  src/utils/client.ts
  src/utils/copy.ts
  src/utils/extractRequestHeaders.ts
  src/utils/server.ts
Due: prettier --write, eslint --fix

feat: pnpm patch swagger-typescript-api
  base.Dockerfile
Due: none

feat: remove sharp
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: confetti
  package.json
  pnpm-lock.yaml
  src/components/Timeline/TimelineForm/index.tsx
Due: prettier --write, eslint --fix

fix: catch api error
  src/pages/post/[id]/index.tsx
  src/pages/post/diff/[id].tsx
Due: prettier --write, eslint --fix

fix: fetch error notification
  src/components/Timeline/TimelineForm/index.tsx
  src/request/customFetch.ts
Due: prettier --write, eslint --fix

feat: typescript@5
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: next.js random full page reload
  next.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update
  renovate.json
Due: prettier --write

chore: update
  package.json
Due: prettier --write

chore: update
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  renovate.json
  src/components/Chat/index.module.scss
  src/components/MarkdownContainer/TOC/index.tsx
  src/components/MarkdownContainer/index.module.scss
  src/components/Skeleton/index.module.scss
  src/components/Timeline/TimelineForm/index.module.scss
  src/pages/airdrop/index.module.scss
  src/pages/post/[id]/index.module.scss
  src/pages/timeline/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

chore: monorepo type declaration
  .npmrc
  tsconfig.json
Due: prettier --write

fix: pnpm .npmrc expose dependency
  .github/workflows/test.yml
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: pnpm .npmrc expose dependency
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  .github/workflows/test.yml
  .npmrc
  dev/swagger-typescript-codegen.config.mjs
  next.config.mjs
  package.json
  pnpm-lock.yaml
  prod.Dockerfile
  qa.Dockerfile
  src/__generated__/api.ts
  src/pages/post/index.tsx
Due: prettier --write, eslint --fix

chore: code clean
  .github/workflows/base-image.yml
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  .github/workflows/test.yml
  .ncurc.json
  .npmrc
  dev/swagger-typescript-codegen.config.mjs
  next.config.mjs
  package.json
  pnpm-lock.yaml
  sentry.server.config.js
  src/__test__/pages/post.spec.tsx
  src/__test__/toc.spec.ts
  src/components/MarkdownContainer/plugins/remarkDirectiveHandle.ts
  src/components/MarkdownContainer/plugins/remarkMetadata.tsx
  src/typings/typings.d.ts
Due: prettier --write, eslint --fix

feat: build components
  .npmrc
  src/components/ImagePreview/ImagePreviewModal/index.tsx
  src/components/NavBar/User/index.tsx
  src/components/NavBar/index.tsx
  src/components/Timeline/TimelineForm/index.module.scss
  src/components/Timeline/TimelineForm/index.tsx
  src/pages/app.scss
  src/request/customFetch.ts
  src/utils/copy.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: build components
  .github/workflows/base-image.yml
  .github/workflows/prod.yml
  .github/workflows/qa.yml
  .github/workflows/test.yml
  .ncurc.json
  .npmrc
  dev/swagger-typescript-codegen.config.mjs
  next.config.mjs
  package.json
  pnpm-lock.yaml
  sentry.server.config.js
  src/__test__/pages/post.spec.tsx
  src/__test__/toc.spec.ts
  src/components/Footer/index.tsx
  src/components/ImagePreview/ImagePreviewModal/index.tsx
  src/components/LazyImage/index.tsx
  src/components/MarkdownContainer/plugins/remarkDirectiveHandle.ts
  src/components/MarkdownContainer/plugins/remarkMetadata.tsx
  src/components/NavBar/User/index.tsx
  src/components/NavBar/index.tsx
  src/components/Timeline/TimelineForm/index.module.scss
  src/components/Timeline/TimelineForm/index.tsx
  src/context/GlobalContextProvider.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/app.scss
  src/request/customFetch.ts
  src/typings/typings.d.ts
  src/utils/copy.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: ffmpeg
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/VideoProcessor/index.tsx
  src/context/GlobalContextProvider.tsx
  src/hooks/useFFmpeg.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/tools/index.tsx
  src/pages/tools/video-converter/index.tsx
  src/pages/tools/video/index.tsx
  src/theme/mui.ts
  src/typings/mui-styles.d.ts
Due: prettier --write, eslint --fix

feat: ffmpeg
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Link/index.tsx
  src/components/VideoProcessor/index.tsx
  src/context/GlobalContextProvider.tsx
  src/hooks/useFFmpeg.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/tools/index.tsx
  src/pages/tools/video-converter/index.tsx
  src/pages/tools/video/index.tsx
  src/theme/mui.ts
  src/typings/mui-styles.d.ts
  src/utils/toc.ts
Due: prettier --write, eslint --fix

feat: ffmpeg
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Link/index.tsx
  src/components/NavBar/index.tsx
  src/components/VideoProcessor/index.tsx
  src/context/GlobalContextProvider.tsx
  src/hooks/useFFmpeg.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/tools/index.tsx
  src/pages/tools/video-converter/index.tsx
  src/pages/tools/video/index.tsx
  src/theme/mui.ts
  src/typings/mui-styles.d.ts
  src/utils/toc.ts
Due: prettier --write, eslint --fix

feat: lama-cleaner
  .github/workflows/lama-cleaner.yml
  lama-cleaner.Dockerfile
  src/pages/tools/index.tsx
Due: prettier --write, eslint --fix

feat: lama-cleaner and swagger-parse
  .github/workflows/lama-cleaner.yml
  lama-cleaner.Dockerfile
  package.json
  pnpm-lock.yaml
  src/pages/tools/index.tsx
  src/services/swagger-parse.spec.ts
  src/services/swagger-parse.ts
Due: prettier --write, eslint --fix

fix: lama-cleaner
  lama-cleaner.Dockerfile
Due: none

feat: swagger-parse and code generate
  package.json
  pnpm-lock.yaml
  src/pages/tools/index.tsx
  src/services/swagger-parse.spec.ts
  src/services/swagger-parse.ts
  src/services/swagger-parse/index.ts
  src/services/swagger-parse/sample.json
  src/services/swagger-parse/swagger-parse.spec.ts
Due: prettier --write, eslint --fix

fix: media query
  package.json
  pnpm-lock.yaml
  src/pages/tools/index.tsx
  src/pages/tools/swagger2code/index.tsx
  src/pages/tools/video-converter/index.tsx
Due: prettier --write, eslint --fix

chore(deps): bump version
  package.json
  pnpm-lock.yaml
Due: prettier --write
